In [1]:
import pandas as pd
from func import check_data

In [12]:
df = pd.read_csv('Walmart_Sales.csv')
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, format='%d-%m-%Y')
check_data(df)

   Store       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1 2010-02-05    1643690.90             0        42.31       2.572
1      1 2010-02-12    1641957.44             1        38.51       2.548
2      1 2010-02-19    1611968.17             0        39.93       2.514
3      1 2010-02-26    1409727.59             0        46.63       2.561
4      1 2010-03-05    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106

Data shape: (6435, 8)

Data info:
 <bound method DataFrame.info of       Store       Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1 2010-02-05    1643690.90             0        42.31       2.572
1         1 2010-02-12    1641957.44             1        38.51       2.548
2         1 2010-02-19    1611968.17             0        39.93       2.514
3         1 2010-02-26    1409727.59             0        46.63       2.561
4         1 2010-03-05    1554806.68             0        46.50       2.625
...     ...        ...           ...           ...          ...         ...
6430     45 2012-09-28     713173.95             0        64.88       3.997
6431     45 2012-10-05     733455.07             0        64.89       3.985
6432     45 2012-10-12     734464.36             0        54.47       4.000
6433     45 2012-10-19     718125.53             0        56.47       3.969
6434     45 2012-10-26     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]>

Data types:
 Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

Describe The Data:
              Store                 Date  Weekly_Sales  Holiday_Flag  \
count  6435.000000                 6435  6.435000e+03   6435.000000
mean     23.000000  2011-06-17 00:00:00  1.046965e+06      0.069930
min       1.000000  2010-02-05 00:00:00  2.099862e+05      0.000000
25%      12.000000  2010-10-08 00:00:00  5.533501e+05      0.000000
50%      23.000000  2011-06-17 00:00:00  9.607460e+05      0.000000
75%      34.000000  2012-02-24 00:00:00  1.420159e+06      0.000000
max      45.000000  2012-10-26 00:00:00  3.818686e+06      1.000000
std      12.988182                  NaN  5.643666e+05      0.255049

       Temperature   Fuel_Price          CPI  Unemployment
count  6435.000000  6435.000000  6435.000000   6435.000000
mean     60.663782     3.358607   171.578394      7.999151
min      -2.060000     2.472000   126.064000      3.879000
25%      47.460000     2.933000   131.735000      6.891000
50%      62.670000     3.445000   182.616521      7.874000
75%      74.940000     3.735000   212.743293      8.622000
max     100.140000     4.468000   227.232807     14.313000
std      18.444933     0.459020    39.356712      1.875885

Desribe All Data:
              Store                 Date  Weekly_Sales  Holiday_Flag  \
count  6435.000000                 6435  6.435000e+03   6435.000000
mean     23.000000  2011-06-17 00:00:00  1.046965e+06      0.069930
min       1.000000  2010-02-05 00:00:00  2.099862e+05      0.000000
25%      12.000000  2010-10-08 00:00:00  5.533501e+05      0.000000
50%      23.000000  2011-06-17 00:00:00  9.607460e+05      0.000000
75%      34.000000  2012-02-24 00:00:00  1.420159e+06      0.000000
max      45.000000  2012-10-26 00:00:00  3.818686e+06      1.000000
std      12.988182                  NaN  5.643666e+05      0.255049

       Temperature   Fuel_Price          CPI  Unemployment
count  6435.000000  6435.000000  6435.000000   6435.000000
mean     60.663782     3.358607   171.578394      7.999151
min      -2.060000     2.472000   126.064000      3.879000
25%      47.460000     2.933000   131.735000      6.891000
50%      62.670000     3.445000   182.616521      7.874000
75%      74.940000     3.735000   212.743293      8.622000
max     100.140000     4.468000   227.232807     14.313000
std      18.444933     0.459020    39.356712      1.875885

Unique Value:
Total of Unique Value Store: 45
Total of Unique Value Date: 143
Total of Unique Value Weekly_Sales: 6435
Total of Unique Value Holiday_Flag: 2
Total of Unique Value Temperature: 3528
Total of Unique Value Fuel_Price: 892
Total of Unique Value CPI: 2145
Total of Unique Value Unemployment: 349

Total of Null Value:
Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

Duplicates By Column:
 Empty DataFrame
Columns: [Store, Date, Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI, Unemployment]
Index: []

In [19]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [25]:
date = df["Date"].dt.month
df_pivot = df.copy()
df_pivot['Month'] = date

In [40]:
pivot_table= df_pivot.pivot_table(index='Store', 
                                   columns='Month', 
                                   values='CPI', 
                                   aggfunc='sum').round(2)
pivot_table.sort_values(by=1, ascending=False)

Month,1,2,3,4,5,6,7,8,9,10,11,12
Store,,,,,,,,,,,,
9,1755.56,2622.16,2854.90,3065.85,2635.68,2862.08,3071.20,2866.69,2864.96,2869.43,1748.94,2189.19
8,1754.06,2619.91,2852.46,3063.23,2633.42,2859.63,3068.58,2864.24,2862.51,2866.98,1747.45,2187.32
11,1753.68,2619.34,2851.84,3062.56,2632.85,2859.02,3067.91,2863.62,2861.90,2866.36,1747.07,2186.84
3,1753.68,2619.34,2851.84,3062.56,2632.85,2859.02,3067.91,2863.62,2861.90,2866.36,1747.07,2186.84
6,1738.99,2597.35,2827.90,3036.90,2610.77,2835.04,3042.21,2839.61,2837.97,2842.35,1732.48,2168.54
5,1731.10,2585.54,2815.03,3023.12,2598.91,2822.15,3028.40,2826.72,2825.12,2829.45,1724.64,2158.70
1,1726.56,2578.73,2807.63,3015.18,2592.07,2814.74,3020.45,2819.29,2817.72,2822.03,1720.12,2153.04
2,1723.76,2574.54,2803.06,3010.29,2587.86,2810.16,3015.55,2814.71,2813.15,2817.45,1717.34,2149.55
21,1723.76,2574.54,2803.06,3010.29,2587.86,2810.16,3015.55,2814.71,2813.15,2817.45,1717.34,2149.55
30,1723.76,2574.54,2803.06,3010.29,2587.86,2810.16,3015.55,2814.71,2813.15,2817.45,1717.34,2149.55
31,1723.76,2574.54,2803.06,3010.29,2587.86,2810.16,3015.55,2814.71,2813.15,2817.45,1717.34,2149.55
36,1716.43,2563.56,2791.10,2997.49,2576.83,2798.19,3002.73,2802.75,2801.25,2805.47,1710.06,2140.41
37,1716.43,2563.56,2791.10,2997.49,2576.83,2798.19,3002.73,2802.75,2801.25,2805.47,1710.06,2140.41
39,1716.43,2563.56,2791.10,2997.49,2576.83,2798.19,3002.73,2802.75,2801.25,2805.47,1710.06,2140.41
25,1670.86,2495.24,2716.60,2917.71,2508.42,2724.10,2923.71,2728.80,2727.40,2731.12,1664.85,2083.64
20,1670.86,2495.24,2716.60,2917.71,2508.42,2724.10,2923.71,2728.80,2727.40,2731.12,1664.85,2083.64
43,1660.66,2480.28,2700.30,2900.22,2493.00,2706.91,2904.90,2711.14,2709.80,2713.68,1654.44,2070.81
7,1552.97,2313.17,2512.86,2701.20,2319.45,2517.78,2706.77,2528.04,2528.55,2530.90,1546.69,1935.61
32,1552.97,2313.17,2512.86,2701.20,2319.45,2517.78,2706.77,2528.04,2528.55,2530.90,1546.69,1935.61
41,1552.97,2313.17,2512.86,2701.20,2319.45,2517.78,2706.77,2528.04,2528.55,2530.90,1546.69,1935.61
16,1552.97,2313.17,2512.86,2701.20,2319.45,2517.78,2706.77,2528.04,2528.55,2530.90,1546.69,1935.61
14,1488.81,2222.38,2419.25,2599.33,2234.94,2427.58,2606.86,2432.64,2432.02,2434.02,1484.20,1856.80
45,1488.81,2222.38,2419.25,2599.33,2234.94,2427.58,2606.86,2432.64,2432.02,2434.02,1484.20,1856.80
27,1110.47,1655.22,1801.03,1937.39,1666.67,1811.70,1949.30,1817.71,1818.43,1816.56,1108.76,1385.38
22,1110.47,1655.22,1801.03,1937.39,1666.67,1811.70,1949.30,1817.71,1818.43,1816.56,1108.76,1385.38
35,1110.47,1655.22,1801.03,1937.39,1666.67,1811.70,1949.30,1817.71,1818.43,1816.56,1108.76,1385.38
19,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
26,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
29,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
40,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
15,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
18,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
24,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
23,1079.24,1608.57,1750.26,1882.79,1619.67,1760.64,1894.44,1766.36,1767.06,1765.24,1077.54,1346.44
12,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
10,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
4,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
13,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
17,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
28,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
33,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
34,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
38,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
42,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13
44,1030.51,1539.46,1674.26,1801.42,1545.52,1674.91,1799.15,1675.23,1675.77,1675.23,1025.60,1284.13

In [17]:
date

0        2
1        2
2        2
3        2
4        3
        ..
6430     9
6431    10
6432    10
6433    10
6434    10
Name: Date, Length: 6435, dtype: int32